.header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    font-size: bold;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}